<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Information and Technology College</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">

            <div class="col-md-4">
                <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent" ariaexpanded="false" aria-label="Toggle navigation"></button>
                @Html.ActionLink("Information and Technology College", "Index", "Home", new { area = "" }, new
               { @class = "navbar-brand" })
            </div>
            <div class="col-md-3">
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item">
                            @Html.ActionLink("Home", "Index", "Home", null,
        new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("About", "About", "Home", null,
        new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Contact", "Contact", "Home",
            null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-1">
                <div class="dropdown">
                    <button class="dropbtn btn btn-outline-info">Course</button>
                    <div class="dropdown-content">
                        <a href="~/Course/Index">Link 1</a>
                        <a href="~/Course/Index1">Link 2</a>
                        <a href="~/Course/Index2">Link 3</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <form class="form-inline d-flex flex-row-reverse justify-content-around">
                    <input class="form-control mr-sm-2 mr-auto ms-3" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
                </form>
            </div>
            <div class="col-md-1">
                <a href="~/Account/Login" class="btn btn-outline-secondary ms-3">Login</a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer >
            <p  class="fw-bold bg-info px-1 py-1 rounded">&copy; @DateTime.Now.Year - Information and Technology College / Team React Project</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>